@model SieuThi.Models.Staff

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<div class="container" style="text-align:center">
    <h1 class="MSM_green">Details</h1>

    <h4>Staff</h4>
    <hr />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tennv)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tennv)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Luong)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Luong)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ca)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ca)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MotaCV)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MotaCV)
                </dd>
            </dl>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Manv" class="btn btn-primary">Edit</a> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>


